snippet figu "Refer a figure ITA"
Figura~\ref{fig:$1}$0
endsnippet

snippet fig "Figure template"
\begin{figure}
	\centering
	\includegraphics[width=$1\textwidth]{$2}
	\caption{$3}
	\label{fig:$4}
\end{figure}
$0
endsnippet

snippet	sii "SI unit shortcut"
\SI{$1}{$2}$0
endsnippet
